* {
    font-family: sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    color: white;
    background-image: url(img/dot.svg);
    background-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body, html, canvas, input, button {
    background-color: rgb(32, 32, 32);
}
canvas {
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
canvas, .canvas {
    width: min(100vw, 70vh);
    height: min(100vw, 70vh);
}
.container {
    display: none;
}
.container.open{
    display: flex;
}
.playerInfos {
    display: flex;
    justify-content: space-between;
    font-size: 200%;
}
#leaderboard .active {
    font-weight: bold;
}
#leaderboard {
    margin: auto;
    overflow-y: scroll;
    max-height: 150px;
    display: inline-block;
    padding: 0 100px;
}
.leaderboard {
    display: flex;
    justify-content: center;
}
.username_logout {
    display: flex;
    gap: 10px;
    align-items: center;
}
#logout {
    text-decoration: none;
    color: red;
}
.canvas{
    margin: 20px 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
    border-radius: 20px;
    position: relative;
    display: inline-block;
    padding: 0;
    overflow: hidden;
}
#login img {
    width: 100px;
    margin: 50px;
    transition: transform 1s ease-out;
}
#login img:hover {
    transform: scale(1.5) rotate(1080deg);
}
#login {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 120%;
    border-radius: 30px;
    overflow: hidden;
}
#login button {
    background-color: inherit;
    border-radius: 0 30px 30px 0;
    color: inherit;
    border: none;
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
    padding: 10px;
}
#login button:hover {
    background-color: #303030;
}
#login .input {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0px rgba(100,100,100,.5);
    margin: 10px;
    border-radius: 30px;
    background-color: inherit;
}
#login input {
    border: none;
    color: inherit;
    font-size: inherit;
    text-align: center;
    padding: 10px;
    border-radius: 30px 0 0 30px;
}
#login input:focus {
    outline: none;
}

#game {
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    #login {
        font-size: 200%;
    }
    #login input {
        width: 70vw;
    }
}

@keyframes zoomStart {
    0% {
        transform: scale(10);
    }
    100% {
        transform: scale(0);
    }
}


.canvas::after{
    content: "";
    position: absolute;
    display: block;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0);
    animation: zoomStart 1s cubic-bezier(0.01, 1.26, 0.55, 0.68);
}

